$cor-primaria: #b74a6b
$cor-secundaria: #4b555c

body
    border:1 rem solid red
nav
    ul
        a
            &:hover
                border-bottom:1px solid $cor-secundaria
.btn-padrao
    width: 100%
    background-color: $cor-primaria
    min-width: 150px
    max-width: 200px
    border-color: white
    border-radius: 100px
    font-size:0.8em
    font-weight: bold
    &:hover
        background-color: $cor-secundaria
        border-color: white
header
    font-family: Montserrat
    color: $cor-secundaria
    padding: 0em 10em

/**************************************** BANNER *****************************/
.banner
    height: 27em
    width: 100%
    padding:0em 6em
    margin-bottom: 2em
    img
        margin-top: 2.3em
        height: 28.5em
    .carousel-caption
        text-align: left
        padding-bottom: 10rem
        width: 30%
        margin-left: -3em
    #carouselBanner
        width: 100%

/**************************************** SERVIÇOS *****************************/
.servicos
    text-align: center
    padding-top: 3em
    width: 100%
    height: 100%
    padding:0em 6em
    color: #4b555c
    p
        font-weight: bold
    .itens-servico
        padding: 0 3em
    img
        width: 150px
        height: 150px
        border-radius: 100%
        box-sizing: border-box
    h3
        color: $cor-primaria
    a
        color: $cor-secundaria
        text-decoration: none
        border-bottom: 2px solid $cor-primaria
    .item
        margin-bottom: 2rem

/**************************************** DIFERENCIAIS *****************************/
.diferenciais
    width: 100%
    height: 42em
    padding:0em 10em
    font-size: 1em
    padding-right: 1em
    h3
        color: $cor-secundaria
    p
        font-size: 1em
    ul
        list-style: none
        line-height: 1em
        img
            height: 0.8em
            padding-right: 0.5em
    .linha
        height: 18em
    .img-direita
        height: 18em
    img
        height: 15em
        box-shadow: 3px 3px 3px 3px rgba(236,236,236,1)
        border-radius: 1em
    .texto-esqueda
        height:16em
    .texto-direita
        height: 16em
        padding-right: 8em
    
/**************************************** VIDEO *****************************/
.video
    width: 100%
    background: url('../img/fundo-video.png')
    color: white
    .video-head
        width: 100%
        height: auto
        text-align: center
    p
        font-weight: bold

/**************************************** BLOG *****************************/
.blog
    width: 100%
    height: auto
    padding: 0em 8em
    .blog-head
        width: 100%
        text-align: center
    img
        width: 18em
        height: auto
    h3
        font-size: 1em
        color: $cor-primaria
        padding-top: 1em
        font-weight: bold
    hr
        background-color:  $cor-secundaria
        height:1px
    a
        text-decoration: none
        font-weight: bold
        color: $cor-secundaria
        &:hover
            border-bottom: 1px solid $cor-secundaria

/**************************************** MAPA *****************************/
.mapa
    width: 100%
    height: auto
    iframe
        height: 20em

/**************************************** RODAPE *****************************/
footer
    background: $cor-secundaria
    color: white
    padding: 4em 2em
    i
        font-size: 1em
        margin-left: 0.8em
        float: right
    .endereco
        float: left
    .contato
        width: 100%
    .logo-rodape
        img
            height: 2em
    .detalhe-rodape
        img
            float: right
    hr
        margin: 0em 4em 0em 4em
        background-color: #5b6970
        height:0.01em
    .icones
        margin-right: 4em
        width: auto

@media (min-width: 970px)
    .texto-esquerda
        padding-right: 8em
    .servicos
        display: block
        margin-bottom: 1rem

@media (max-width: 770px)
    .btn-top
        font-size: 0.7em
    header
        padding: 0 0
    .navbar-brand
        display: none
    .blog
        padding: 0 2em

@media (max-width: 580px)
    .servicos
        padding: 0
    .conteudo
        img
            width: 100%
        